<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лента постов</title>
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("a.createPostLink").click(function () {
            $(".createPost").show();
        });

        $(".like-link").click(function (event) {
            event.preventDefault();

            const postId = $(this).data('post-id');

            $.ajax({
                url: $(this).attr('href'),
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    $('#likes-' + postId).text(response.likes);
                },
                error: function (error) {
                    console.error("Ошибка при отправке запроса:", error);
                }
            });
        });
    });
</script>

<div th:each="post : ${posts}">
    <h2>
        <a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
    </h2>
    <img th:if="${post.imageUrl}" th:src="@{${post.imageUrl}}" alt="Post image" style="max-width: 300px;"/><br/>
    <p><span th:text="${post.imageUrl}"></span></p>
    <p><span th:text="${post.content}"></span></p>
    <p>Лайки:
        <span th:id="'likes-' + ${post.id}" th:text="${post.likes}">0</span>
        <a href="#" class="like-link" th:data-post-id="${post.id}" th:href="@{/posts/{postId}/like(postId=${post.id})}">Like</a>
    </p>
    <p>Тэги:
        <span th:each="tag : ${post.tags}" th:text="${tag} + ' '"></span>
    </p>
</div>

<br/><br/>
<a href="#" class="createPostLink">Добавить пост</a>
<br/><br/>

<div>
    <form th:action="@{/posts}" th:object="${post}" method="post" enctype="multipart/form-data" class="createPost"
          style="display: none">

        <label for="title">Заголовок поста: </label>
        <input id="title" th:field="*{title}" type="text"/><br/>

        <label for="image">Изображение: </label>
        <input id="image" type="file" name="image" accept="image/*"/><br/>

        <label for="content">Текст: </label>
        <textarea id="content" th:field="*{content}"></textarea><br/>

        <label for="tags">Тэги (через запятую): </label>
        <input id="tags" th:field="*{tags}" type="text"/><br/>

        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>